
$font-mono-s:'Space Mono';
$font-l-d:'Lexend Deca';
$text-gray:#939caa;
$primary-white:#fff;
$bg-yellow:#FCB72B;
$primary-bg:#333A44;
$secondary-white:#e5ecf4;
$text-card-title:#495567;
$text-card:#939caa;