
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

.container{
    max-width: 1440px;
    width: 100%;
    padding:0 11.4%;
}


@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./all-blocks/header";
@import "./all-blocks/features";
@import "./all-blocks/details";
@import "./all-blocks/footer";

